<p>
  <h1> <%= @profile.name %> </h1>
  <% if current_user != @profile && !current_user.already_follow?(@profile) %>
    <%= link_to "Follow", follow_profile_path(@profile), class: "btn btn-primary", method: "post" %>
  <% end %>
</p>
<h2> Following <h2>

    <h5>      
    <% @following.each do |follow| %>
      <%= User.find(follow.to_id).name %>
      <%= follow.created_at %>
    <% end %>
    </h5>
<h3> Recent tweets </h3>
<% @tweets.each do |tweet| %>
  <div class="well">
    <%= tweet.tweet %>
    <div>
      <%= tweet.author.email %>
      <%= time_ago_in_words tweet.created_at %>
      ago
    </div>  
  </div>
<% end %>
