<% @tweets.each do |tweet| %>
  <div class="well">
    <h4> <%= tweet.tweet %> </h4>
    <div>
      <% if !tweet.already_retweeted?(current_user) %>
        <%= link_to "Retweet", retweet_tweet_path(tweet), method: "post" %>
      <% end %>
      <%= link_to tweet.author.name, profile_path(tweet.author) %>
      <%= time_ago_in_words tweet.created_at %>
      ago
    </div>  
  </div>
<% end %>

<%= paginate @tweets %>



