<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Tweets</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Timeline", tweets_path %></li>
          <li><%= link_to "Me", profile_path(current_user.id) %></li>
          <li><%= link_to 'People', profiles_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if current_user %>
            <li> <%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => 'delete' %></li>
          <% else %>
            <li><%= link_to "Sign In / Sign Up", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br/>
